@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kelly Slab';
}

body {
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-block {
    width: 80%;
    max-width: 1000px;
}

.header__logo {
    background-color: #fff;
    padding: 30px;

    color: #e74c3c;
    font-size: 32pt;
    font-weight: bold;
}

.navbar {
    margin: 25px 30px 0 30px;

    display: flex;
    list-style: none;
}

.navbar__item {
    padding: 10px 20px;
    font-size: 14pt;

    color: #34495e;
    font-weight: bold;
}

.navbar__item_selected {
    background-color: #fff;
    color: #e74c3c;
}

.content {
    display: flex;
}

.content>* {
    height: 100%;
}

.articles {
    background-color: #fff;
    padding: 30px 30px 0 30px;
    flex-grow: 1;
}

.title {
    color: #e74c3c;
    font-size: 26pt;
    font-weight: bold;
}

.title__seperator {
    background-color: #ecf0f1;
    height: 10px;
}

.title__text {
    margin: 10px 0;
}

.title__seperator_categories {
    background-color: #7f8c8d;
}

.title__text_categories {
    color: #fff;
}

.post {
    color: #95a5a6;
    display: flex;

    margin: 30px 0;
}

.post__date {
    flex-basis: 60px;
}

.post__date>* {
    min-width: 100%;
    text-align: center;
    font-weight: bold;
}

.post__date-d {
    font-size: 4vw;
}

.post__date-m{
    font-size: 3vw;
}

.post__date-y {
    font-size: 2vw;
}

.post__context {
    padding: 0 20px;
    flex-grow: 1;
}

.post__title>a {
    text-decoration: none;
    color: #95a5a6;
    font-size: 26pt;
    font-weight: bold;
}

.post__content {
    color: #333;
    font-size: 12pt;
}

.post__seperator {
    background-color: #ecf0f1;
    height: 2px;
    margin: 30px 0;
}

.topics {
    background-color: #95a5a6;
    flex-basis: 30%;
    padding: 30px;
    box-sizing: border-box;
}

.categories {
    padding: 30px 0;
    list-style: none;
    color: #fff;
    font-size: 12pt;
    font-weight: 400;
}